

body, html {
  
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto;
  font-size: 12px;
  color: #424242;
  margin: auto;
}


header, nav, footer, section, article, div {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}




/*
 *
 * Header
 *
 */

.header {
  display: flex;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.26);
  min-height: 56px;
  transition: min-height 0.3s;
}

.header__inner {
  flex: 1;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}


.header_details {
  width: 75%;
}

.header__logo {
  flex: 1;
  color: #02b3e4;
  width: 200px;
  margin-right: 1em;
  vertical-align: top;
  margin-top: 12px;
}

.header__title {
  flex: 1;
  float: justify;
  font-weight: 300;
  font-size: 3em;
  margin: 0.5em 0.25em;
  display: inline-block;
  color: #212121;
}

.abc {

  display: flex;
  flex-direction: row;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.26);
  min-height: 30px;
  transition: min-height 0.3s;


}

.abc__img {
  margin: 0 auto;
	width: 100%;   
}

.footer{
  display: flex;
  width: 32%
  float: center;
  font-weight: 300;
  font-size: 5em;
  margin: 1.0em 1.0em;
  display: inline-block;
  color: #7d97ad;
}


/*
 *
 * Top Level Navigation
 *
 */

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;

}



.nav__item {
  font-size: 20px;
  flex: 1;
  box-sizing: border-box;
  display: inline-block;
  width: 32%;
  text-align: center;
  padding: 24px;
  line-height: 29px;
  color: #2d3c49;
}

.nav__img {
  flex: 1;
	position: relative;
	width: 24%;
	border-radius: 10px;

}
.social {
  text-decoration: none;
  color: #616161;
  padding: 1.5em;
  font-size: 16px;
}

@media (max-width: 400px) {
  .flex-grid,
  .flex-grid-thirds {
    display: block;
    .col {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}


/*
 *
 * Footer
 *
 */

footer {
  text-align: right;
  border-top: 1px solid #E0E0E0;
  padding: 1em;
  width: 32%;
}

@media screen and (min-width: 500px )  {

  .social {
    color: red;
   }
 
 
   .nav__item {
      font-size: 30px
   }
}

  @media screen and (min-width: 850px )  {

   .nav__item {
      font-size: 60px
   }
}
